:root {
    --black: #2d2d2d;
    --white: #fff;
}

* {
    font-family: 'Epilogue', sans-serif;
}

.wrapper {
    padding: 0 60px;
}

    /* Header */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

}

.header__logo {
    font-size: 30px;
}

.header__nav {
    display: flex;
    column-gap: 50px;

}

.header__link {
    text-decoration: none;
    color: var(--black);
}

    /* Visual designer */

.visual-designer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 720px;
    align-items: center;
}

.visual-designer__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visual-designer__subtitle {
    font-size: 1.2rem;
    margin: 0 0 45px 0; /* margin-bottom*/ 
}

.visual-designer__title {
    width: 463px;
    font-size: 6.2rem;
    margin: 0 0 50px 0;

}

.visual-designer__text {
    width: 417px;
    font-size: 1.1rem;
}

.visual-designer__right {

}

    /* Companies */

.companies {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin: 60px 0 0 0;

}

    /* About */

.about {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;

}

article {
    text-align: center;
    padding: 40px;
    width: 20%;
}

p {
    line-height: 1.6;
}

    /* Latest Work */


.latest-work__images {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.latest-work__article {
    width: 300px;
    margin: 15px;
    padding: 0;
    text-align: left;
    
}

.latest-work__title {
    text-align: center;
    margin: 0 0 60px 0;
    font-size: 2rem;
}


    /* Clients */

.client__title {
    text-align: center;
    margin: 80px 0 60px 0;
    font-size: 2rem;
}

.clients__blocks {
    display: flex;
    justify-content: space-evenly;
}

.clients__blocks__article {
    background-color: #F3F3F3;
    text-align: left;
    height: 400px;
}

.clients__blocks__article p {
    font-weight: 600;
    font-size: 1rem;
}

.clients__blocks__article img {
    float: left;
    margin-top: 200px;
    padding: 5px;

}

.star {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 10px;
}

.star span {
    margin-top: 10px;
    padding: 5px;
}
.star img {
    padding: 3px;
}