:root {
    --black: #2d2d2d;
    --white: #fff;
}

* {
    font-family: 'Epilogue', sans-serif;

}

.wrapper {
    padding: 0 60px;
}

    /* Header */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}


.header__nav {
    display: flex;
    column-gap: 50px;

}

.header__link {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}


.header__nav li a {
    display: inline-block;
    padding: 10px;
    padding-right: 0;
    position: relative;
}

.header__nav li a:hover::after {
    width: 90%;
    right: 0;
}

.header__nav li a::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
    transition: width .2s ease 0s, linear .2s ease 0s;
    width: 0;
}


    /* Visual designer */

.visual-designer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 720px;
    align-items: center;
    
}

.visual-designer__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.visual-designer__subtitle {
    font-size: 1.2rem;
    margin: 0 0 45px 0; /* margin-bottom*/ 
}

.visual-designer__title {
    width: 463px;
    font-size: 6.2rem;
    margin: 0 0 50px 0;

}

.visual-designer__text {
    width: 417px;
    font-size: 1.1rem;
}

.visual-designer__right {
    
}

    /* Companies */

.companies {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin: 60px 0 0 0;

}

    /* About */

.about {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 100px 0;
}

.about_blocks {
    align-items: center;
    text-align: center;
    width: 20%;
}

p {
    line-height: 1.6;
}

    /* Latest Work */


.latest-work__images {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 10px;
    gap: 50px;
    
}

.latest-work__article {
    text-align: left;
    width: 330px;
}

.latest-work__title {
    text-align: center;
    margin: 0 0 60px 0;
    font-size: 2rem;
}


    /* Clients */

.client__title {
    text-align: center;
    margin: 80px 0 60px 0;
    font-size: 2rem;
}

.clients_blocks {
    display: flex;
    justify-content: space-evenly;
}

.clients_blocks__article {
    background-color: #F3F3F3;
    padding: 40px;
    width: 250px;
    height: 400px;
    position: relative;
}

.clients_blocks__article p {
    font-weight: 600;
    width: 250px;
    font-size: 20px;
}

.clients_blocks__avatar {
    position: absolute;
    margin-top: 150px;
    padding: 5px;
   

}

.star {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 10px;
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
   
}

.star span {
    margin-top: 10px;
    padding: 5px;
    line-height: 1.6;
}
.star img {
    padding: 3px;
}

    /* Contact */

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.contact_left {
    width: 28%;
    padding: 65px;
}

.contact_left h2 {
    margin-bottom: 60px;
}

.contact_left p {
    margin-bottom: 60px;

}

.contact_left__social {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_email {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 65px;
}

.contact_email__input {
    padding: 15px;
    margin: 10px;
    margin-right: 0;
    border: none;
    background-color: #F3F3F3;
}

.contact_email__textarea {
    padding: 15px;
    margin: 10px;
    border: none;
    margin-right: 0;
    background-color: #F3F3F3;
}

.contact_email__button {
    width: 200px;
    height: 60px;
    border: none;
    margin: 10px;
    color: white;
    background-color: #2d2d2d;
}

@media screen and (max-width: 1090px) {
    .latest-work__images {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-device-width: 400px) {
    
    .wrapper {
        padding: 0 30px;
    }
        /* Header */

    .header__nav {
        display: none;
    }
    
    .header {
        justify-content: center;
        width: 100%;
    }

        /* Visual designer */

    .visual-designer {
    
        display: grid;
        grid-template-columns: auto;
        height: 850px;
    }

    .visual-designer__left {
        text-align: center;
    }

    .visual-designer__subtitle {
        width: 380px;
        padding: 0;
        margin: 15px 0 15px 0;
        font-size: 1rem;
        
    }

    .visual-designer__title {
        width: 380px;
        font-size: 4rem;
        padding: 0;
        margin: 0;
    }

    .visual-designer__text {
        width: 350px;
        font-size: 1rem;
        
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .visual-designer__right img {
        
        width: 375px;
        margin-left: 2px;
        
        
    }

        /* Companies */

    .companies {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .companies img {
       padding: 20px;
    }

        /* About */

    .about {
        display: grid;
        grid-template-columns: auto;
        padding: 0;
        margin: 0;
        margin: 2px auto;
        width: 350px;
        justify-content: center;
        align-items: center;
    }

    .about_blocks {
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 270px;
        margin-bottom: 50px;
    }

    .about_blocks p {
        margin-top: 40px;
    }

        /* Latest Work */

    .latest-work__images {
        display: grid;
        grid-template-columns: auto;
    }

        /* Clients */

    .clients_blocks {
        display: grid;
        grid-template-columns: auto;
        
    }

    .clients_blocks__article {
        margin-bottom: 80px;
    }

        /* Contact */

    .contact {
        display: grid;
        grid-template-columns: auto;
        width: 340px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin: 2px auto;
    }

    .contact_left {
        margin: 0;
        padding: 0;
        width: 325px;
        text-align: left;
        margin: 0 0 50px 0;
    }

    .contact_email {
        padding: 0;
        margin: 0;
        width: 325px;
    }

    .contact_email__input {
        margin: 0;
        margin-bottom: 15px;
    }

    .contact_email__textarea {
        margin: 0;
        margin-bottom: 20px;
    }

    .contact_email__button {
        margin: 0;
    }
    
}